@import "./../../theme/__base.scss";

@mixin primary-hover {
  background: var(--seds-color-primary-dark);
}
@mixin primary-focus {
  @include primary-hover;
  outline: 2px solid var(--seds-color-secondary);
}

@mixin secondary-hover {
  background: var(--seds-color-secondary-dark);
}

@mixin secondary-focus {
  @include secondary-hover;
  outline: 1px solid var(--seds-color-primary);
}

@mixin text-hover {
  color: var(--seds-color-primary-dark);
}

@mixin text-focus {
  @include text-hover;
  outline: 2px solid var(--seds-color-primary);
}

@mixin icon-hover {
  color: var(--seds-color-primary-dark);
}

@mixin icon-focus {
  @include icon-hover;
  outline: 2px solid var(--seds-color-primary);
}

.mat-button {

  min-width: 44px;

  &.seds-button--normal {
    height: 44px;
  }

  &.seds-button--large {
    height: 44px;
    width: 180px;
  }

  &.seds-button--primary {
    background-color: var(--seds-color-primary);
    color: var(--seds-color-primary-contrast);

    &:focus {
      @include primary-focus;
    }

    &:hover,
    &:focus {
      @include primary-hover;
    }

    &.mat-button.mat-button-disabled {
      background-color: transparent;
      color: var(--seds-color-neutral-grey-500);
      cursor: not-allowed;
    }
  }

  &.seds-button--secondary {
    background-color: var(--seds-color-secondary);
    border: 1px solid var(--seds-color-secondary);
    color: var(--seds-color-secondary-contrast);

    &:focus {
      @include secondary-focus;
    }

    &:hover,
    &:focus {
      @include secondary-hover;
    }

    &.mat-button.mat-button-disabled {
      background-color: transparent;
      border-color: var(--seds-color-neutral-grey-300);
      color: var(--seds-color-neutral-grey-500);
      cursor: not-allowed;
    }
  }

  &.seds-button--text {
    color: var(--seds-color-primary);
    outline: 2px solid transparent;

    &.mat-button.mat-button-disabled {
      background-color: transparent;
      color: var(--seds-color-neutral-grey-500);
      cursor: not-allowed;
    }
  }

}
