@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

// Default Material Colors Palette
$seds-primary: mat.define-palette(mat.$blue-palette, 400, 200, 700);
$seds-accent: mat.define-palette(mat.$pink-palette, 500, 100, 800);
$seds-warn: mat.define-palette(mat.$red-palette, 600, 200, 900);

// Extra Colors
$seds-secondary: mat.define-palette(mat.$purple-palette, 500, 300, 700);
$seds-success: mat.define-palette(mat.$green-palette, 500, 300, 700);
$seds-alert: mat.define-palette(mat.$yellow-palette, 400, 100, 500);

$seds-theme: mat.define-light-theme(
  (
    color: (
      primary: $seds-primary,
      secondary: $seds-secondary,
      accent: $seds-accent,
      success: $seds-success,
      warn: $seds-warn,
      alert: $seds-alert,
    ),
  )
);

@include mat.all-component-themes($seds-theme);

// Colors Variables
$primary: mat.get-color-from-palette($seds-primary);
$secondary: mat.get-color-from-palette($seds-secondary);
$accent: mat.get-color-from-palette($seds-accent);
$success: mat.get-color-from-palette($seds-success);
$warn: mat.get-color-from-palette($seds-warn);
$alert: mat.get-color-from-palette($seds-alert);

.mat-button {
  &.mat-secondary {
    color: mat.get-color-from-palette($seds-secondary, 500);
  }

  &.mat-alert {
    color: mat.get-color-from-palette($seds-alert);
  }

  &.mat-success {
    color: mat.get-color-from-palette($seds-success);
  }
}

.mat-raised-button {
  &.mat-secondary {
    background-color: mat.get-color-from-palette($seds-secondary);
    color: mat.get-color-from-palette($seds-secondary,default-contrast);
  }

  &.mat-alert {
    background-color: mat.get-color-from-palette($seds-alert);
    color: mat.get-color-from-palette($seds-alert, default-contrast);
  }

  &.mat-success {
    background-color: mat.get-color-from-palette($seds-success);
    color: mat.get-color-from-palette($seds-success, default-contrast);
  }
}
