<header>
  <h2>SEDS Lite Buttons</h2>
</header>
<div>
  <h3>Basic Type</h3>
  <app-seds-button type="button" label="Normal" styleType="basic" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Primary" styleType="basic" color="primary" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Secondary" styleType="basic" color="secondary" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Success" styleType="basic" color="success" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Warn" styleType="basic" color="warn" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Alert" styleType="basic" color="alert" class="teste"></app-seds-button>
</div>
<hr>
<div>
  <h3>Raised Type</h3>
  <app-seds-button type="button" label="Normal" styleType="raised" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Primary" styleType="raised" color="primary" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Secondary" styleType="raised" color="secondary" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Success" styleType="raised" color="success" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Warn" styleType="raised" color="warn" class="teste"></app-seds-button>
  <app-seds-button type="button" label="Alert" styleType="raised" color="alert" class="teste"></app-seds-button>
</div>
<hr>
